<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">fatarrow</a>
		</div>
	</div>
</div>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h1>The Open Source Report Card</h1>
				<p>For more information, see <a ng-href="http://osrc.dfm.io/{{controller.username}}" target="_blank">osrc.dfm.io</a></p>
				<p>
					<form ng-submit="controller.getReportCard(controller.username)" class="form-group">
						<input ng-model="controller.username" placeholder="GitHub username" autofocus />
						<button type="submit" class="btn btn-success">Go</button>
					</form>
				</p>
			</div>

			<div class="col-md-3">
				<p>
					<a ng-href="http://github.com/{{controller.reportCard.username}}" target="_blank">
						<img ng-src="{{controller.reportCard.gravatar}}" height="230" width="230" class="img-circle" />
					</a>
				</p>
				<h3 class="text-center">{{controller.reportCard.name}}</h3>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h3>Similar Users</h3>
			<ul>
				<li ng-repeat="similarUser in controller.reportCard.similar_users">
					<a ng-href="http://github.com/{{similarUser.username}}" target="_blank">{{similarUser.name}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3>Connected Users</h3>
			<ul>
				<li ng-repeat="connectedUser in controller.reportCard.connected_users">
					<a ng-href="http://github.com/{{connectedUser.username}}" target="_blank">{{connectedUser.name}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3>Active Repos</h3>
			<ul>
				<li ng-repeat="activeRepository in controller.reportCard.repositories">
					<a ng-href="http://github.com/{{activeRepository.repo}}" target="_blank">{{activeRepository.repo | stripUsername:controller.reportCard.username}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h3>Languages</h3>
			<ul>
				<li ng-repeat="language in controller.reportCard.usage.languages">
					{{language.language}}
				</li>
			</ul>
		</div>
	</div>

	<hr>
</div>