<routes></routes>

<div class="container">
	<div class="jumbotron">
		<img src="img/angularjs.jpg" width="500" />
		<h1>Reference Architecture</h1>
	</div>

	<div class="row" ng-repeat="script in controller.scripts | filter:'home/'">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{script | toExtension:''}}</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-6">
					<syntax src="{{script | toExtension:'.coffee'}}"></syntax>
				</div>

				<div class="col-md-6">
					<syntax src="{{script}}"></syntax>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-init="script = 'home/home.html'">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{script}}</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					<syntax src="{{script}}"></syntax>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-repeat="script in controller.scripts | filter:'components/'">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{script | toExtension:''}}</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-6">
					<syntax src="{{script | toExtension:'.coffee'}}"></syntax>
				</div>

				<div class="col-md-6">
					<syntax src="{{script}}"></syntax>
				</div>
			</div>
		</div>
	</div>
</div>
